.page-container{
   width: 100%;
   height: 100vh;
   background: url('~@/assets/login_bg.jpg');
   background-size: 100% 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.login-box{
    border-radius: 10px;
    padding: 24px;
    border:1px solid #FFF;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title{
        text-align: center;
        color: #ccc;
        margin-bottom: 16px;
        font-size: 30px;
    }
    .ant-form-item{
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .ant-row, .ant-col{
        margin-left: 0;
        width: 100% !important;
    }
    .ant-btn{
        width: 100%;
    }
}
